.flex-row {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-bottom: 10px;
  align-items: center;
  cursor: pointer;
}

.custom-table {
  height: calc(100vh - 80px);
  overflow-y: scroll;
  border-top: 1px #e7e7e7 solid;
  border-bottom: 1px #e7e7e7 solid;
}

.flex-stretch {
  align-items: stretch;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.post-header {
  height: 20px;
  border-bottom: 1px #e7e7e7 solid;
}

.post-text {
  margin-top: 20px;
}

.list-group-item {
  min-height: 100px;
  max-width:90%;
  height: auto;
}

.post-form {
  max-width:90%;
  height: auto;
  margin-top: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.custom-container {

}

.custom-link {
  cursor: pointer;
}
